{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<div class="container-fluid">
  <div class="row">

    {% include 'layout/sidebar.html' %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header">{% trans 'Rezultati obrade' %}</h2>
      <div class="table-responsive">
        <h3>{% trans 'Algoritam' %}: <strong>{{ object.algorithm }}</strong></h3>

        {% if object.algorithm.description %}
          <h3>{% trans 'Opis algoritma' %}:</h3>
          <p>{{ object.algorithm.description }}</p>
        {% endif %}

        {% if object.algorithm.document  %}
        <h3>{% trans 'Dokumentacija' %}: <a href="{{ object.algorithm.document.url }}" target="_blank">{{ object.algorithm.document }}</a></h3>
        {% endif %}

        {% if object.algorithm.description %}
          <h3>{% trans 'Opis algoritma' %}:</h3>
          <p>{{ object.algorithm.description }}</p>
        {% endif %}
        <h4>{% trans 'Vrijeme početka izvršavanja' %}: <strong>{{ object.created|date:"d.m.Y. H:i" }}</strong></h4>
        {% if object.failed or object.successful %}
          <h4>{% trans 'Vrijeme završetka izvršavanja' %}: <strong>{{ object.finished|date:"d.m.Y. H:i" }}</strong></h4>
        {% endif %}
        <h4>{% trans 'Status obrade' %}: <strong>{{ object.get_status_code_display|upper }}</strong></h4>

        <div class="col-md-6">
          <h3>{% trans 'Ulazni podaci' %}:</h3>
          {% if object.input_is_image %}
          <a href="{{ object.input_data.url }}" target="_blank"><img src="{{ object.input_data.url }}" alt="" style="width: 100%; height: 100%;"></a>
          {% else %}
            <a href="{{ object.input_data.url }}">{{ object.input_data }}</a>
          {% endif %}
        </div>
        <div class="col-md-6">
          <h3>{% trans 'Izlazni podaci' %}:</h3>
          {% if object.output_is_image %}
          <a href="{{ object.output_data.url }}" target="_blank"><img src="{{ object.output_data.url }}" alt="" style="width: 100%; height: 100%;"></a>
          {% else %}
            {% if object.output_data %}
            <a href="{{ object.output_data.url }}">{{ object.output_data }}</a>
            {% else %}
            <p>{% trans 'Još nisu generirani' %}.</p>
            {% endif %}
          {% endif %}
        </div>
      </div>

      {% comment %}
      ZASAD NE TREBA

      {% if object.status_message %}
      <h3>Statusna poruka:</h3>
      <p>{{ object.status_message }}</p>
      {% endif %}

      {% endcomment %}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
      <div class="col-md-3">
        <a href="{% url 'home' %}">{% trans 'Povratak na sve rezultate' %}</a>
      </div>
  </div>
</div>

{% endblock %}